<div class="container">
  <app-header></app-header>
  <h2>Search a Trip</h2>
  <form>
    <div class="text-container">
      <div class="input-container">
        <p>Date</p>
        <calendar-date>
          <svg aria-label="Previous"
               slot="previous"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24">
            <path d="M15.75 19.5 8.25 12l7.5-7.5"></path>
          </svg>
          <svg aria-label="Next"
               slot="next"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24">
            <path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
          </svg>
          <calendar-month></calendar-month>
        </calendar-date>
      </div>

      <div class="input-container">
        <p>Origin</p>
        <input placeholder="Origin" type="text" formControlName="origin">
        <p>Destination</p>
        <input placeholder="Destination" type="text" formControlName="destination" />
        <button class="primary button" type="submit">Search Trips</button>
      </div>
    </div>

  </form>
</div>
