<nav>
  <a (click)="onLogoClick()"><h2>Gauchada</h2></a>
  <ul
    (mouseenter)="toggleDropdown()"
    (mouseleave)="toggleDropdown()"
    class="profile"
  >
    <li class="dropdown">
      <a class="profile-name" (click)="onProfileClick()"><p>{{ this.user.userName }}</p><img [src]="this.user.photoSrc"/></a>
      <ul *ngIf="isDropdownOpen" class="dropdown-menu">
        <li (click)="onTripSearch()" *ngIf="!isDriver">Search a Trip</li>
        <li (click)="onAddCar()" *ngIf="isDriver">Add a Car</li>
        <li (click)="onTripCreate()" *ngIf="isDriver">Create a Trip</li>
        <li class="logout" (click)="onLogout()">Logout</li>
      </ul>
    </li>
  </ul>
</nav>
