<nav>
  <a (click)="onLogoClick()"><h2>Gauchada</h2></a>
  <ul
    (mouseenter)="toggleDropdown()"
    (mouseleave)="toggleDropdown()"
    class="profile"
  >
    <li class="dropdown">
      <a (click)="onProfileClick()">{{ this.user.userName }}</a>
      <ul *ngIf="isDropdownOpen" class="dropdown-menu">
        <li (click)="onTripCreate()" *ngIf="isDriver">Create a Trip</li>
        <li (click)="onTripSearch()">Search a Trip</li>
        <li class="logout" (click)="onLogout()">Logout</li>
      </ul>
    </li>
  </ul>
</nav>
