<div class="card" (click)="onTripClick()">
  <div class="driver-info">
    <div class="driver-name">
      <span>Driver:</span>
      <br />
      <strong>{{ trip.driverUserName }}</strong>
    </div>
    <img
      *ngIf="driver && driver.photoSrc"
      [src]="driver.photoSrc"
      alt="Driver Photo"
      class="driver-photo"
    />
  </div>
  <div class="trip-info">
    <div class="location">
      <span class="city">{{ trip.origin }}</span>
      <span class="time">{{ startDay + " " + startHour }}</span>
    </div>
    <div class="arrow">↓</div>
    <div class="location">
      <span class="city">{{ trip.destination }}</span>
      <!-- <span class="time">13:30</span> -->
    </div>
  </div>

  <app-trip-card-popup
    *ngIf="this.tripPopup"
    [trip]="this.trip"
    [driver]="this.driver"
  ></app-trip-card-popup>
</div>
