<div class="card">
  <div class="driver-info">
    <div class="driver-name">
      <span>Driver:</span>
      <br />
      <strong>Miguel Angel</strong>
    </div>
    <div class="driver-photo">Foto<br>usuario</div>
  </div>
  <div class="trip-info">
    <div class="location">
      <span class="city">Reconquista</span>
      <span class="time">09:00</span>
    </div>
    <div class="arrow">↓</div>
    <div class="location">
      <span class="city">Santa Fe</span>
      <span class="time">13:30</span>
    </div>
  </div>
</div>
