* {
    padding: 0;
    margin: 0;
}

.app-background {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #42B0FF;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
}

.button{
  position: absolute;
  height:50px;
  width: 100px;
  background-color: #42B0FF;
}
